<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title -%}
    {% if title %}
      <title>Blog - {{title}}</title>
    {% else %}
      <title>Blog</title>
    {% endif %}
  {% endblock %}
  <link type="text/css" href="{{url_for('static', filename='css/pico.min.css')}}" rel="stylesheet" />
  <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
  <main class="container">
    {% block content -%}
      {%- block main_menu -%}
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}"><strong> {{ brand }} </strong></a></li>
          </ul>
          <ul>
            {% for menu_item in menu %}
              <li><a href="{{ url_for(menu_item.url) }}">{{ menu_item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endblock -%}
    <h3>{{ head_text }}</h3>
    {% endblock -%}
  </main>
</body>
</html>
